@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000e4;
  color:white;
  font-weight: normal;
}

.panel {
  @media (min-width: 320px) and (max-width: 640px) {
    height: 100vh;
  }
}
