@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000e4;
}

.panel {
  @media (min-width: 320px) and (max-width: 640px) {
    height: 100vh;
  }
}

.shrink {
  @media (min-width: 320px) and (max-width: 640px) {
    height: 10dvh;
  }
}
